Source: smsbackuprestore
Section: user/Other
Priority: extra
Maintainer: Tony Wang <wwwjfy@gmail.com>
Build-Depends: debhelper (>= 7), dpatch
Standards-Version: 3.8.4
Homepage: https://github.com/wwwjfy/MeegoSMSBackupRestore

Package: smsbackuprestore
Architecture: any
Depends: qt-components, ${shlibs:Depends}, ${misc:Depends}
Description: SMS backup and restore tool using csv
